*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Roboto'
 }
header{
    background-color:#EAC926;
    width: 100%;
    height: 20%;
}
.logo{
    height: 100px;
}
.banner{
    height: 150px;
}
a{
    font-size: 18px;
}
#login{
    background-color:blue;
   color: white;
}
main form{
    display: flex;
    flex-direction: column;
}
p{
    margin: 20px;
}
input[name="email"]{
    width: 500px;
    height: 20px;
    font-size: 18px;
}
input[name="password"]{
    width: 500px;
    height: 20px;
    font-size: 18px;
    position: relative;
    right: 15px;
    margin: 10px;
}

a{
    position: relative;
    left: 115px;
    bottom: 20px;
}
#login{
    padding: 10px;
    margin: 20px;
    font-size: 18px;
}