<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Curso de node</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:ital,wght@1,300&family=Smooch&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<script src="https://kit.fontawesome.com/03a28eca72.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        
        <div class="top-bar">
           <section class="box-header">
            <picture><img src="images/logo-mercado-liebre.svg" class="logo"></picture>
            <section class="nav-bar"><p class="search-var">Lugar para poner la barra de búsqueda<i class="fa-solid fa-magnifying-glass"></i>
            </p>
            <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            
            
            <ul class="section1">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
       

         
            
            <ul class="section2">
                <li>
                    
                    
                    <a href="/register">Creá tú cuenta<i class="fa-solid fa-address-card"></i></a></li>
                
                <li><a href="/login">Ingresá<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
       
        
    </section> 
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
        </div>
    </section>
    
    <picture><img src="images/img-home-banner.jpg" class="banner"></picture>
  
</header>

<main>
    <div class="last-visit">
            <section class="productos">
                <p><h3>Basado en tú última visita</H3></p>
                       
                    <article class="main-box">
                       <picture><img src="images/img-cafetera-moulinex.jpg" alt=""></picture>
                       <p class="desc">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p>40% OFF</p>
                        <p>Cafetera Moulinex</p>
                       </p>
                       
                       </article> 
                     
                        
                       <article class="main-box">
                        <picture><img src="images/img-macbook-pro-2019.jpg" alt=""></picture>
                        <p class="desc">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio">$230.000</p>
                            <p>20% OFF</p>
                            <p>MacBook Pro 2019</p>
                        </p>
                              
                        </article>
                        
                     
                        <article class="main-box">
                        <picture><img src="images/img-samsung-galaxy-s10.jpg" alt=""></picture>
                        <p class="desc">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio">70.000</p>
                            <p>10% OFF</p>
                            <p>Samsung Galaxy S10</p> 
                        </p>
                          
                        </article>
                        
                      
                    </article>
                    
                    <article class="main-box">
                       <picture><img src="images/img-tv-samsung-smart.jpg" alt=""></picture>
                       <p class="desc">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$23.000</p>
                        <p>5% OFF</p>
                        <p>SmartTv Samsung 43"</p>
                       </p>
                       
                      
                    </article>

                    </section>

            <section class="productos">
                <h3><a>Ofertas</a></h3>
                   
                <article class="main-box">
                <picture><img src="images/img-cafetera-moulinex.jpg" alt=""></picture>
                <p class="desc">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$6.770</p>
                    <p>40% OFF</p>
                    <p>Cafetera Moulinex</p>
                </p>
                </article>
                    
                    
                    <article class="main-box">
                    <picture><img src="images/img-macbook-pro-2019.jpg" alt=""></picture>
                    <p class="desc">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p>20% OFF</p>
                        <p>MacBook Pro 2019</p> 
                    </p>
                      
                    </article>
                       
                
                <article class="main-box">
                        <picture><img src="images/img-samsung-galaxy-s10.jpg" alt=""></picture>
                        <p class="desc">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio">70.000</p>
                            <p>10% OFF</p>
                            <p>Samsung Galaxy S10</p> 
                        </p>
                     
                    
                </article>
                    
                    
                
                
                <article class="main-box">
                    <picture><img src="images/img-tv-samsung-smart.jpg" alt=""></picture>
                    <p class="desc">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$23.000</p>
                        <p>5% OFF</p>
                        <p>SmartTv Samsung 43"</p>  
                    </p>
                </article>  
                   
                    
        </section>
    </div>
</main>    

<footer>
   <section class="pie">
      <i class="fa-solid fa-credit-card"></i>
    <ul><li><h3>Pagá con tarjeta o en efectivo</h3></li></ul>
      <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
        <i class="fa-solid fa-gift"></i>        
        <ul><li><h3>Envío gratis desde $ 2.500</h3></li></ul>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
            <i class="fa-solid fa-user-shield"></i>
            <ul><li><h3>Seguridad, de principio a fin</h3></li></ul>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
            <ul><li><h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3></li></ul>
   </section>
  
</footer>
    </body>

</html>




