<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:ital,wght@1,300&family=Smooch&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <script src="https://kit.fontawesome.com/03a28eca72.js" crossorigin="anonymous"></script>
    </head>
<body>
    <header>
     <section class="head">
        <picture><img src="images/logo-mercado-liebre.svg" class="logo"></picture>
     <picture><img src="images/img-home-banner.jpg" class="banner"></picture>
    </section>
    </header>
    <main>
        <form action="login.html" method="get">
    
            
            <p>
                <a>Usuario</a>
                  <input type="email" name="email" placeholder="Email, por ejemplo: sintaxisp@hotmail.com"> 
            </p>
            
            <p>
                    <a>Contraseña</a>
             <input type="password" name="password" placeholder="Contraseña"> 
          
            </p>
            <input type="submit" value="Log In" id="login">
        </form>
    </main>
    <footer>
        <section class="pie">
           <i class="fa-solid fa-credit-card"></i>
         <ul><li><h3>Pagá con tarjeta o en efectivo</h3></li></ul>
           <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
             puntos de pago. ¡Y siempre es seguro!</p>
             <i class="fa-solid fa-gift"></i>        
             <ul><li><h3>Envío gratis desde $ 2.500</h3></li></ul>
             <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                 productos. Es un beneficio de Mercado Puntos.</p>
                 <i class="fa-solid fa-user-shield"></i>
                 <ul><li><h3>Seguridad, de principio a fin</h3></li></ul>
             <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                 porque estás siempre protegid@.</p>
                 <ul><li><h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3></li></ul>
        </section>
       
     </footer>
</body>
</html>