<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Register</title>
        <link rel="stylesheet" href="/css/register.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:ital,wght@1,300&family=Smooch&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <script src="https://kit.fontawesome.com/03a28eca72.js" crossorigin="anonymous"></script>
    </head>

<body>
    <header>
        <nav class="topbar">
            
            <section><picture><img src="/images/logo-mercado-liebre.svg" class="logo"></picture></section>

        </nav>
        <main>
            <section class="register">
                <article class="form">
                    <h3>Datos del Usuario</h3>
                    <form action="login.html" method="get">
                        <p>
                            
                            <input type="text" name="nombre" placeholder="Nombre">
                      
                        </p>
                        
                        <p>
                            
                            <input type="email" name="email" placeholder="Email, por ejemplo: sintaxisp@hotmail.com">
                        </p>
                        
                        <p>
                            
                            <input type="password" name="password" placeholder="Contraseña">
                      
                        </p>
                        
                        <p>
                            <h3>Fecha de Nacimiento</h3>
                            <input type="date" name="date" id="date">
                        </p>
                        <p>
                            <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio">
                        </p>
                        <p>
                           <section class="usertype">
                            <h3>Perfil de Usuario</h3>
                           Comprador
                            <input type="radio" name="Comprador" id="comprador">
                           Vendedor
                            <input type="radio" name="Vendedor" id="Vendedor">
                           </section>
                        </p>
                        <label class="interesting">
                            <h3>Intereses</h3>
                            <input type="checkbox" name="cat" value="cat">Electro
                             <input type="checkbox" name="cat" value="cat">Moda
                              <input type="checkbox" name="cat" value="cat">Hogar
                              <input type="checkbox" name="cat" value="cat">Juguetería
                              <input type="checkbox" name="cat" value="cat">Vida sana
                              <input type="checkbox" name="cat" value="cat">Autos
                              <input type="checkbox" name="cat" value="cat">Motos
                            </label>
                            <input type="submit" value="Registrar" id="register">
                            <input type="reset" value="Borrar" id="register">
                      </form>
                </article>
            </section>
        </main>
        
        
        <footer>
            <section class="pie">
               <i class="fa-solid fa-credit-card"></i>
             <ul><li><h3>Pagá con tarjeta o en efectivo</h3></li></ul>
               <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                 puntos de pago. ¡Y siempre es seguro!</p>
                 <i class="fa-solid fa-gift"></i>        
                 <ul><li><h3>Envío gratis desde $ 2.500</h3></li></ul>
                 <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                     productos. Es un beneficio de Mercado Puntos.</p>
                     <i class="fa-solid fa-user-shield"></i>
                     <ul><li><h3>Seguridad, de principio a fin</h3></li></ul>
                 <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                     porque estás siempre protegid@.</p>
                     <ul><li><h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3></li></ul>
            </section>
           
         </footer>
</body>
</html>